.footer-main {
  width: 100%;
  height: auto;
  background: #000;
  .footer-container {
    width: 80%;
    margin: auto;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding: 20px 0;
    h4 {
      font-weight: 500;
    }
    p {
      font-weight: 200;
    }
  }
}
