.home-main {
  background: url("../assets/images/home-bg.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 500px;
  .home-container {
    width: 80%;
    margin: auto;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .greetings {
      h1 {
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 10px;
        span {
          color: $yellow;
        }
      }
      p {
        font-size: 20px;
        font-weight: 100;
      }
      button {
        background: $yellow;
        padding: 10px 0;
        width: 100%;
        border: 1px solid #000;
        border-radius: 5px;
        font-size: 17px;
      }
    }
  }
}
@media (min-width: 650px) {
  .home-main .home-container {
    flex-direction: row;
  }
}
@media (min-width: 800px) {
  .home-main .home-container .greetings h1 {
    font-size: 60px;
  }
  .home-main .home-container .greetings p {
    font-size: 25px;
  }
  .home-main .home-container img {
    width: 300px;
    height: auto;
  }
}
