.navbar-main {
  background: #000;
  width: 100%;
  height: 100px;
  border-bottom: 3px solid $yellow;
  .navbar-container {
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    .navbar {
      display: none;
    }
  }
  .menu-show {
    color: #fff;
    list-style: none;
    position: absolute;
    top: 105px;
    background: $yellow;
    width: 100%;
    transform: scale(1, 1);
    transition: transform 500ms ease;
    transform-origin: top;
    li {
      padding: 20px;
      text-align: center;
      border: 1px solid #000;
    }
  }
  .menu-close {
    transform: scale(1, 0);
    transform-origin: top;
  }
}
@media (min-width: 768px) {
  .navbar-main .navbar-container .burger-icon {
    display: none;
  }
  .navbar-main .navbar-container .navbar {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  .navbar-main .navbar-container .navbar li {
    font-size: 18px;
  }
}
